/* Estilo geral */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}
:root{
    --purple: #610588;
    --opacity-dark: #61058898;
    --light-purple: #e7cdf3;
    --opacity-purple: #e7cdf398;
    --off-white: #f2f2f2;
}

/* Estilo do header */
header{
    background-color: var(--purple);
    color: var(--off-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem; /*16px = 1rem*/
    font-weight: 500;
}
header > h1{
    margin-left: 2rem;
    text-transform: uppercase;
}
header > ul li{
    list-style-type: none;
    margin-right: 2rem;
}
.link-pagina{
    color: var(--off-white);
    text-decoration: none;
}

/* Estilo do body */
body{
    background-image: url(./imagens/fundoMeuCinema.png);
    /* background-size: cover; */
}

/* Estilo do footer*/
footer{
    background-color: var(--purple);
    height: 2rem;
    color: var(--off-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

/* Responsividade */

@media screen and (max-width: 425px){
    header > h1{
        font-size: large;
        margin-left: 1rem;
    }
    .link-pagina{
        font-size: 0.9rem;
        margin-right: 1rem;
    }
}